*.pyc
*~
.coverage
.DS_Store
/*.egg-info
/.project
/.pyproject
/_build/
/_static/
/_templates/
/_test.py
/build/
/coverage.xml
/dist/
/docs/_build/
/env/
/env3/
venv/
/htmlcov/
\#*#
.vscode/settings.json
setup.sh
.python-version
.*.swp
